<nav class="navbar navbar-expand-md bg-primary navbar-dark sticky-top">
    <div class="nav-link" style=" cursor:pointer; letter-spacing:1px; font-weight:600;line-height:25px;font-size:22px;"
            onclick="location.href='{% url 'home' %}'">
        <i class="fas fa-globe-americas"></i> Home</div>        
        {% comment %} <i class="fas fa-globe-americas"></i> Home {% endcomment %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 좌측메뉴 구성 -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
         <li class="nav-item">
                <div class="nav-link" style="padding-right:0px; opacity:0.8; cursor:pointer; letter-spacing:1px; font-weight:600"
                        onclick="location.href='{% url 'donation:intro' %}'">
                    <i class="fas fa-users"></i> About_Us</div>
                {% comment %} <a class="nav-link" href="{% url 'donation:intro' %}"><i class="fas fa-users"></i> About_Us</a> {% endcomment %}
            </li>
            {% if user.is_active %}
                <li class="nav-item">
                    <div class="nav-link" style="padding-right:0px;opacity:0.8; cursor:pointer; letter-spacing:1px; font-weight:600"
                        onclick="location.href='{% url 'donation:donation_check' %}'">
                    <i class="fas fa-newspaper"></i> Donation</div>
                </li>
            {% else %}
                <li class="nav-item">
                    <div class="nav-link" style="padding-right:0px;opacity:0.8; cursor:pointer; letter-spacing:1px; font-weight:600"
                        onclick="location.href='{% url 'login' %}'">
                    <i class="fas fa-newspaper"></i> Donation</div>
                </li>
            {% endif %}
            
            <li class="nav-item">
                <div class="nav-link" style="padding-right:0px;opacity:0.8; cursor:pointer; letter-spacing:1px; font-weight:600"
                    onclick="location.href='{% url 'donation:newsletter' %}'">
                    <i class="fas fa-newspaper"></i> NewsLetter</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" style="padding-right:0px;opacity:0.8; cursor:pointer; letter-spacing:1px; font-weight:600"
                    onclick="location.href='{% url 'board:list' %}'">
                    <i class="fas fa-clipboard-list"></i> Board</div>
            <li class="nav-item">
                 {% comment %} style= onclick="location.href='{{writing.get_absolute_url}}'" {% endcomment %}
                <div class="nav-link" style="opacity:0.8; cursor:pointer; letter-spacing:1px; font-weight:600" onclick="location.href='{% url 'funding:funding' %}'">
                    <i class="fas fa-clipboard-list"></i> Funding</div>
            </li>
            
        </ul>
        <!-- 우측메뉴 구성 -->
        <ul class="navbar-nav ml-auto">
            {% if user.is_active %}
            <!-- 로그인 상태 -->
            <li class="nav-item d-none d-sm-inline-block">
                <div class="nav-link" style="padding-right:0px;opacity:0.8; cursor:pointer; letter-spacing:1px; font-weight:600"
                    onclick="location.href='{% url 'password_change' %}'">
                {% comment %} {{user.username}} = 현재 사용자 id {% endcomment %}
                    <i class="fas fa-user"></i> {{user.username}}</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <div class="nav-link" style="opacity:0.8; cursor:pointer; letter-spacing:1px; font-weight:600"
                    onclick="location.href='{% url 'logout' %}'">
                    <i class="fas fa-sign-out-alt"></i> 로그아웃</a>
            </li>
            {% else %}
            <!-- 로그아웃 상태 -->
            <li class="nav-item d-none d-sm-inline-block">
                <div class="nav-link" style="padding-right:0px;opacity:0.8; cursor:pointer; letter-spacing:1px; font-weight:600"
                    onclick="location.href='{% url 'login' %}'">
                    <i class="fas fa-sign-in-alt"></i> 로그인</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <div class="nav-link" style="padding-left:3px; opacity:0.8; cursor:pointer; letter-spacing:1px; font-weight:600"
                    onclick="location.href='{% url 'accounts:register' %}'">
                    <i class="fas fa-user-plus"></i> 회원가입</a>
                
            </li>
            {% endif %}
        </ul>
        <!-- 우측메뉴 구성 끝 -->
    </div>
</nav>