{% load static %}

            <h3 class="text-center mt-5 mb-0"><b>"사람 한 명당 연평균 <i><ins><span style="background-color: #FFFF00">84kg의 플라스틱 </span></ins></i> 폐기물을 <br>만듭니다."</b></h3>
            <div class="image mt-0">                        
                <img src="{% static 'images/펀딩_1.jpg' %}" alt="" />
            </div>
            <div style="line-height:40px; font-size:16px">
            알고 계신가요?<br>
            플라스틱은 썩지 않고 분해되지 않는 특성으로 가장 큰 문제가 생태계교란이라는 사실!<br>
            플라스틱은 미생물에 의해 분해되지는 않지만, 오랜 세월 바다에서 떠돌며 햇빛에 노출되면 물리적 충격에 의해 잘게 부스러지기 마련입니다. 이렇게 잘게 부스러진 마이크로플라스틱은 많은 해양 생물들에게 먹잇감으로 오인되곤 합니다.<br>
            물속의 플랑크톤이나 작은 갑각류를 걸러 먹는 것은 많은 물고기들의 영양 섭취 방법입니다. 마이크로플라스틱을 먹이로 오인해 섭취하는 경우 이들은 소화되지 않고 몸속에 그대로 쌓이게 되고, 이들은 다시 먹이사슬을 따라 상위 단계의 포식자들에게 먹힘으로써 결국 생태계 전반으로 퍼져나갑니다.<br>
            즉,<span style="border-bottom: 2px solid #00cca3;"><strong>내부로부터의 ‘플라스틱 중독’이 일어나  해양 생태계에 치명적인 영향을 미치게 될 것입니다.</strong></span> 지구 표면의 70%를 차지하는 해양 생태계가 교란되면 그 영향은 결국 <span style="border-bottom: 2px solid #00cca3;"><strong>전 지구적으로 확산되어 우리 역시도 그 파멸의 소용돌이에서 자유로울 수 없습니다.</strong></span> 지금 이 시간도 북태평양 바다 위에는 또 하나의 플라스틱 더미가 늘어나고 있을 것입니다. 우리가 쉽게 사용하고 버리는 플라스틱 제품들이 그 속도를 더욱 가속화 시킬지도 모릅니다.<br>
            </div>
            <div style="margin-bottom:30px"><img src="{% static 'images/보틀1.jpg' %}" alt=""/></div>
            <div><img src="{% static 'images/보틀2.jpg' %}" alt=""/></div>
            <div class="mt-3 mb-4 ml-3"><img src="{% static 'images/보틀3.jpg' %}" alt=""/></div>
        
            <div>
                <h3><b>| 도서/산간 추가 배송비 안내</b></h3>
                <p style="font-size:16px;">리워드설계에서 제주/도서간 추가배송비를 꼭 지불해 주셔야 발송이 됩니다.</P>
                <br>
                <h3><b>| 발송안내 </b> </h3>
                
                <ul style="font-size:16px">
                    <li>리워드는 CJ대한통운을 통해 발송됩니다.</li>
                    <li>제품 발송은 10월 말일일 부터(21일~29일) 순차적 발송(일일 최대 1,000대)을 계획하고 있으며, 배송 소식은 새소식을 통해 내용 공유해 드리겠습니다.</li>
                    <li>제품 발송일로 부터 택배사에 따라 2~3일 이내 수령이 가능합니다.</li>
                    <li>발송 문의는 메이커에게 문의하기/ 댓글을 이용하시면 편리합니다.</li>
                    <li>리워드 및 배송 문의 : ㈜아이엠무역 고객센터 070-7706-2579</li>
                    <li>카카오톡 플러스 친구 @아이엠키친 : http://pf.kakao.com/_vQZtK</li>
                    <li>결제 관련 문의 : 최종 결제일인  9월 5일  일요일까지 와디즈 고객센터 1661-9056 로 연락 주세요.</li>
                </ul>
            </div>