{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content-header %}
    <section class="wrapper style1 align-center">
        <div class="">
            <br>
            <h3><i class="fas fa-fish"></i>  <i class="fas fa-globe-americas"></i> &nbsp "아름다운 지구를 지켜주세요"</h3>
        </div>
    </section>
    
{% endblock %}

{% block content %}
<div class = "row">
    <div class="col-sm-6 mx-auto">
        <div class="card mt-4">
            <form action="." method="post" class="form">
                {% csrf_token %}
                <div class="card-body">
                    {%bootstrap_form form%}
                </div>
                <div class="card-footer">
                        <button type="submit" class="btn float-right btn-sm">
                            <i class="fas fa-sign-in-alt"></i> 로그인</button>
                    
                    {% comment %} <button type="submit" class="btn btn-primary btn btn-xs ml-auto">
                        <i class="fas fa-sign-in-alt"></i> 로그인 {% endcomment %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock%}

{% comment %} {% block content %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>

{% endblock  %} {% endcomment %}