{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content-header %}
{% endblock %}

{% block content%}

<div class="container">

    <h1 style=" font-size:40px; font-weight: bold; margin-bottom: 0px;"><i class="fas fa-fish"></i> {{object.title}}
    </h1>

    <P style="font-size:13px; margin-top:2px; border-bottom: 1px solid black;">
    [작성일 : {{object.modify_dt|date:"Y-m-d"}}] [작성자 : {{user}}] [조회수 : {{object.hits}}]</P>
    <div>
        {% autoescape off %}
        {{ object.content }}
        {% endautoescape%}
    </div>

    {% comment %} <p>
        {%if object.get_previous %}
        <a href="{{object.get_previous.get_absolute_url}}" title="이전 글">prev</a>
        {%endif%}
        {%if object.get_next %}
        <a href="{{object.get_next.get_absolute_url}}" title="다음 글">next</a>
        {%endif%}
    </p> {% endcomment %}
    
    <div class="text-right">
        {% if user.is_active %}
            {% if user in post.like.all %}
                <a href="{% url 'board:like' post.id %}">
                <i class="fas fa-heart" style="color:red;"></i></a>
            {% else %}
                <a href="{% url 'board:like' post.id %}">
                <i class="far fa-heart"></i></a>
            {% endif %}
            {{post.like.count}}
        {% else %}
            <i class="far fa-heart mr-2"></i><span style="font-size:20px; margin-left:8px">{{post.like.count}}</span>
        {% endif %}
        
        
        {% if user == post.user %}
        <a href="{% url 'board:update' post.id %}" class="mr-3 ml-3">
            <i class="far fa-edit"></i> 수정</a>
        <a href="javascript:deletePost('{% url 'board:delete' post.id %}')" class="text-danger mr-3"><i
                class="fas fa-trash"></i> 삭제</a>
        {% endif %}
    </div>
    <br>

    <form action="{% url 'board:comment' post.pk %}" method="POST" id="f1" >
        {%csrf_token%}
        <input type="hidden" name="post" value="{{post.pk}}">
        <input type="text" name="content" placeholder="Write your comments">
        {% if user.is_active %}
            <input class ="cmt"type="submit" value="Write"/>
        {% else %}
            <a href="{% url 'login' %}" class="button  smooth-scroll-middle">Write</a>
        {% endif %}
            
    </form>
    {% if user == post.user %}
    
    {% endif %}
    {% for comment in post.comments.all %}
        <div class="comment">
            <div class="date">{{comment.comment_date}}</div>
            <p style="margin-bottom:0px">작성자 : {{comment.comment_writer}}</p>
            <p style="margin-bottom:0px">{{comment.comment_contents}}</p>
            {% if user == comment.comment_writer %}
                <a href="javascript:deletePost('{% url 'board:comment_delete' comment.id %}')" class="text-danger mr-3"><i
                class="fas fa-trash"></i> 삭제</a>
            {% endif %}
        </div>
        <br>
    
    {%empty%}
        <p>No comment</p>
    {% endfor %}


</div>



{% endblock %}

{% block script %}
<script>
    function deletePost(url) {
        if (!confirm('삭제할까요?')) {
            return
        }
        location = url
    }
</script>

<script>
    {{post.hits_count}}
</script>


{% endblock %}
